<p>discord-test works!</p>
<iframe src="https://discord.com/widget?id=773475946597842954&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>


<div class="widgetHeader-2Hz_Ln">
    <div class="discord-logo widgetLogo-6zH6Nv"></div>
    <div class="button-container">
        <a href="http://localhost:8899/discord/login" target="_blank" class="widgetBtnConnect-2fvtGa">Connect</a>
    </div>
</div>