<img src='{{image}}'>
<div>{{name}}</div>
<div>{{detail}}</div>
<div *ngIf="isOptionValid(getOptionValue('CHANCE'))">
    This the chance you've got: {{chanceCardId}}
</div>
<div *ngIf="isOptionValid(getOptionValue('QUARANTINE'))">
    Bad luck, you're now stuck in Quarantine
</div>
<div *ngIf="isOptionValid(getOptionValue('PAY_BILL'))">
    This startup is owned by player {{owner}}. You must pay the bill: {{productPrice}};
</div>
<div *ngIf="isOptionValid(getOptionValue('BUY_ASSET'))">
    <h4> Take the opportunity to found the startup '{{name}}' <br> Founding capital: {{price}}</h4>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption">
        <mat-radio-button value="{{getOptionValue('BUY_ASSET')}}">Yes, great idea !</mat-radio-button>
        <mat-radio-button value="{{getOptionValue('NOTHING')}}">Sorry, not interested</mat-radio-button>
    </mat-radio-group>
</div>
Please choose your option and validate canValidate={{canValidate}} selectedOption={{selectedOption}}
<button mat-raised-button color="primary" [disabled]="!canValidate || (selectedOption == undefined)" (click)="validate()">Validate</button>
<div></div>