.avatar {
    margin-bottom: 24px;
    text-align: center;
}

.avatar:hover {
    background-color: lightgray;
}

h1 {
    padding-top: 24px;
}

.validate {
    margin-top: 24px;
    font-size: x-large;
}

.avatar>img {
    padding: 24px;
}

.selected {
    border: solid;
    border-color: yellow;
}

.username {
    // margin: 24px;
}

.input-headline {
    font-size: x-large;
    line-height: 32px;
    font-weight: 400;
    width: 500px;
}
