:host {
    // position: absolute;
    // top: 12px;
    // left: 12px;
    width: 180px;
    // z-index: 2000;
}

.cash-title {
    position: absolute;
    top: 4px;
    left: 6px;
    background-color: inherit;
    padding-right: 6px;
    // font-size: large;
    // z-index: 9999;
}

.border {
    border: solid;
    // width: 100%;
    padding: 4px;
    margin-top: 12px;
    border-width: 1px;
    // margin-bottom: 12px;
    // margin-right: 6px;
    // margin-left: 6px;
    // max-height: 600px;
    // height: 100%;
}

.assets-value {
    font-size: large;
    font-family: digital7;
    // margin: 6px;
    text-align: right;
}

.block-username {
    position: relative;
    width: 100%;
    text-align: center;
}

.block-cash {
    position: relative;
    width: 100%;
    background-color: green;
}

.block-staked {
    position: relative;
    width: 100%;
    background-color: darkgoldenrod;
}

.block-debt {
    position: relative;
    width: 100%;
    background-color: darkred;
}

.block-assets {
    position: relative;
    width: 100%;
    background-color: blue;
}

.block-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.assets-table {
    font-family: 'Lucida Sans';
    font-size: small;
    border-top: white;
    height: 100%;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

td {
    // padding-top: 12px;
    padding-bottom: 6px;
}

.asset-cell {
    cursor: pointer;
}

.asset-cell:hover {
    background-color: white;
    color: blue;
}

.img-badge {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 10;
}
