<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="toolbar-button favorite-icon" aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="menuEth">
    <mat-icon svgIcon="ethereum-eth-logo"></mat-icon>
    <span>{{ethAccount}}</span>
  </button>
    <mat-menu #menuEth="matMenu" xPosition="before">
        <div class="mat-toolbar">
            <div>ETH balance: {{balanceEth}}</div>
            <div>USDc balance: {{balanceUSDc}}</div>
            <!-- <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button> -->
        </div>
    </mat-menu>
    <button mat-icon-button class="toolbar-button favorite-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
    <span>{{username}}</span>
  </button>
</mat-toolbar>
