<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <!-- <span>DeFi-PoLy</span> -->
    <img src="assets/logo_toolbar.png" height="30">
    <span class="example-spacer"></span>
    <button mat-icon-button class="toolbar-button favorite-icon" aria-label="Example icon-button with heart icon" [matMenuTriggerFor]="menuEth">
    <mat-icon svgIcon="ethereum-eth-logo"></mat-icon>
    <span>{{ethAccount}}</span>
  </button>
    <mat-menu #menuEth="matMenu" xPosition="before">
        <div class="mat-toolbar">
            <div>MATIC balance: {{balanceEth}}</div>
            <div>USDc balance: {{balanceUSDc}}</div>
            <!-- <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button> -->
        </div>
    </mat-menu>
    <div class="toolbar-button favorite-icon">
        <img src="assets/blockchain.png" height="24" style="top: 4px; position:relative;">
        <span>{{network?.name}}</span>
    </div>
    <button mat-icon-button class="toolbar-button favorite-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
    <span>{{username}}</span>
  </button>
</mat-toolbar>