.sidenav-container {
    height: calc(100vh - 64px);
}

.sidenav {
    width: 180px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidenav-content {
    height: calc(100vh - 64px);
    width: 100%;
}

.marketplace {
    position: absolute;
    right: 12px;
    top: 12px;
}

.defi {
    position: absolute;
    right: 12px;
    top: 182px;
}