<mat-sidenav-container class="sidenav-container">
    <!-- <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <div *ngIf="(gameData != undefined) && isRegistered">
            <app-my-cash [showAssets]="true" [cash]="balances?.get(currentAccount)?.toString()" [assetIds]="assets" [playground]="playground" [debt]="0" [player]="getPlayer(currentAccount)"></app-my-cash>
        </div>
    </mat-sidenav> -->
    <mat-sidenav-content style="height: auto;">

        <div *ngIf="(gameData != undefined) && isRegistered" class="block-my-cash">
            <app-my-cash [showAssets]="true" [cash]="balances?.get(currentAccount)?.toString()" [assetIds]="assets" [playground]="playground" [debt]="0" [player]="getPlayer(currentAccount)"></app-my-cash>
        </div>
        <div #content fxFlex fxLayout="column" fxLayoutWrap fxLayoutAlign="start center" class="sidenav-content">
            <div class="game-contract">Game Contract:
                <app-blockchain-link [network]="network" [link]="gameMaster"></app-blockchain-link>
                <div *ngIf="(gameData != undefined) && !isRegistered">
                    <h1>You're not registered to this game</h1>
                    <div *ngIf="gameData.status == 'CREATED'">
                        <button mat-raised-button (click)="register()">Register</button>
                    </div>
                </div>
            </div>

            <mat-spinner *ngIf="gameData == undefined" class="spinner" [diameter]="500"></mat-spinner>
            <div *ngIf="gameData == undefined" class="background-image">
                <img src='assets/fullpage.png' width="100%">
            </div>
            <div *ngIf="gameData != undefined">
                <div *ngIf="isRegistered">
                    <div class="zoom-box" fxLayout="row">
                        <diV>Zoom: {{zoom}}</diV>
                        <mat-slider [disabled]="zoom == undefined" [value]="zoom" [step]="0.1" [min]="0.5" [max]="5" (change)="changeZoom($event.value)"></mat-slider>

                    </div>
                    <app-test-canvas #board [playground]="playground" [width]="board_width" [height]="board_height" [gameData]="gameData" class="board-canvas"></app-test-canvas>
                    <app-marketplace class="marketplace"></app-marketplace>
                    <app-defi-services class="defi"></app-defi-services>
                    <div fxLayout="column" fxLayoutAlign="start center" style="text-align: center;">
                        <!-- zone 1 -->
                        <div style="position: absolute; bottom: {{2 * board_height / 3}}px; width: {{board_width / 3}}px; height: {{board_height / 3}}px; z-index: 2;">
                            <div *ngIf="(gameData.status == 'STARTED') && isNextPlayer && !isCurrentPlayer">
                                <app-dices #dices class="dices-block"></app-dices>
                            </div>
                            <div *ngIf="(gameData.status == 'STARTED') && isNextPlayer && isCurrentPlayer">
                                <app-space-image [spaceId]="position" [owner]="translatorService.getUsername(owner)" [ownerAvatar]="getPlayerAvatar(owner)" [playground]="playground" [canValidate]="canValidate" [chanceCardId]="gameData.chanceCardId" (onValidate)="validate($event)"></app-space-image>
                            </div>
                        </div>
                        <!-- zone 2 -->
                        <div style="position: absolute; bottom: {{board_height / 3}}px; width: {{board_width / 2}}px; height: {{board_height / 3}}px; z-index: 3;">
                            <div *ngIf="gameData.status == 'STARTED'">
                                <div *ngIf="isNextPlayer">
                                    <div class="dices-block">
                                        <div *ngIf="!isCurrentPlayer" class="mat-headline">
                                            It's your turn
                                            <button mat-raised-button color="primary" [disabled]="!canPlay" (click)="play()">Roll the Dices</button>
                                        </div>
                                    </div>
                                    <div *ngIf="isCurrentPlayer">
                                        <app-space-details [spaceId]="position" [owner]="translatorService.getUsername(owner)" [playground]="playground" [canValidate]="canValidate" [options]="gameData.currentOptions" [chanceCardId]="gameData.chanceCardId" (onValidate)="validate($event)"></app-space-details>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="(gameData.status == 'STARTED') && !isNextPlayer" class="mat-headline">
                                {{translatorService.getUsername(gameData.nextPlayer)}} is currently playing
                            </div>
                            <div *ngIf="gameData.status == 'CREATED'">
                                <div class="mat-headline">
                                    <p>Game is not started yet.</p>
                                    <p *ngIf="gameData.players.length < 2">Wait for players registering (2 minimum), then you can start</p>
                                </div>
                                <button mat-raised-button color="primary" [disabled]="!canStart" (click)="start()">Start Game</button>
                            </div>
                        </div>
                        <!-- zone 3 -->
                        <!-- <div style="position: absolute; bottom: 300px; width: 100%; height: 150px; z-index: 1;"> -->
                        <!-- <app-events-log [events]="events"></app-events-log> -->
                        <!-- </div> -->
                        <!-- zone 4 -->
                        <div style="position: absolute; bottom: 0px; width: {{2*board_width/3}}px; height: {{board_height / 4}}px; z-index: 1;">
                            <app-other-players #otherPlayers [playground]="playground" [gameData]="gameData" [portfolios]="assetsData?.portfolios" [currentAccount]="currentAccount" [balances]="balances"></app-other-players>
                        </div>
                    </div>
                    <!-- <div fxFlex fxLayout="column" fxLayoutWrap fxLayoutAlign="start center" class="inner-content">
                    <div style="position: relative; top: {{board_width / 3}}px; width: {{board_width / 2}}px; height: {{board_width / 3}}px">

                    </div>
                    <div style="position: absolute;
                    bottom: 150px;
                    height: 50px;">
                    </div>
                    <div style="position: absolute;
                    bottom: 100px;
                    height: 100px;">
                    </div>
                </div> -->
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-discord-widgetbot #discord [guildId]="discordService.GUILD_ID$ | async"></app-discord-widgetbot>