.board-canvas {
    position: absolute;
    left: 0;
}

.marketplace {
    position: absolute;
    right: 12px;
    top: 12px;
}

.defi {
    position: absolute;
    right: 12px;
    top: 182px;
}

.sidenav-container {
    height: calc(100vh - 66px);
    background-size: cover;
}

.sidenav {
    width: 200px;
    border: none;
    background: inherit;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidenav-content {
    height: calc(100vh - 66px);
    width: 100%;
}

.my-assets {
    position: absolute;
    bottom: 0;
    left: 20%;
    height: 500px;
    width: 25%;
    background-color: #424242;
    border: solid;
    border-color: #212121;
    margin: 12px;
    padding: 12px;
    color: #EEEEEE;
}

.dices-block {
    // position: absolute;
    // top: -300px;
    background-color: #404040;
    padding: 24px;
}

.game-contract {
    position: absolute;
    top: 12px;
    left: 12px;
    width: calc(20% - 12px);
    z-index: 99;
}

.spinner {
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}