<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <div *ngIf="gameData != undefined">
            <app-my-cash [cash]="balances?.get(currentAccount)?.toString()" [assetIds]="assets" [playground]="playground" [cash]="0"></app-my-cash>
        </div>
    </mat-sidenav>
    <mat-sidenav-content style="height: auto;">

        <div #content fxFlex fxLayout="column" fxLayoutWrap fxLayoutAlign="start center" class="sidenav-content">
            <div class="game-contract">Game Contract:
                <app-blockchain-link [network]="network" [link]="gameMaster"></app-blockchain-link>
            </div>

            <mat-spinner *ngIf="gameData == undefined" class="spinner" [diameter]="500"></mat-spinner>
            <div *ngIf="gameData != undefined">
                <app-test-canvas #board [playground]="playground" [width]="board_width" [height]="board_height" class="board-canvas"></app-test-canvas>
                <app-marketplace class="marketplace"></app-marketplace>
                <app-defi-services class="defi"></app-defi-services>
                <div fxLayout="column" fxLayoutAlign="start center" style="text-align: center;">
                    <!-- zone 1 -->
                    <div style="position: relative; top: {{board_height / 5}}px; width: {{board_width / 3}}px; height: {{board_height / 4}}px;">
                    </div>
                    <!-- zone 2 -->
                    <div style="position: relative; top: {{board_height / 5}}px; width: {{2 * board_width / 3}}px; height: {{board_height / 3}}px;">
                        <div *ngIf="gameData.status == 'STARTED'">
                            <div *ngIf="isNextPlayer">
                                <div class="dices-block">
                                    <div *ngIf="!isCurrentPlayer" class="mat-headline">
                                        It's your turn, please roll the dices
                                        <app-dices #dices style="width:250px;"></app-dices>
                                        <button mat-raised-button color="primary" [disabled]="!canPlay" (click)="play()">Play</button>
                                    </div>
                                </div>
                                <div *ngIf="isCurrentPlayer">
                                    <app-space-details [spaceId]="position" [owner]="owner" [playground]="playground" [canValidate]="canValidate" [options]="gameData.currentOptions" [chanceCardId]="gameData.chanceCardId" (onValidate)="validate($event)"></app-space-details>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isNextPlayer" class="mat-headline">
                            {{gameData.nextPlayer}} is currently playing
                        </div>
                        <div *ngIf="gameData.status == 'CREATED'">
                            Game is not started yet. Wait for players registering (2 minimum), then you can start
                            <button mat-raised-button color="primary" [disabled]="!canStart" (click)="start()">Start Game</button>
                        </div>
                    </div>
                    <!-- zone 3 -->
                    <div style="position: absolute; bottom: 150px; width: {{board_width / 2}}px; height: 150px;">
                        <app-events-log [events]="events"></app-events-log>
                    </div>
                    <!-- zone 4 -->
                    <div style="position: absolute; bottom: 0px; width: {{board_width / 2}}px; height: 150px;">
                        <app-other-players></app-other-players>
                    </div>
                </div>
                <!-- <div fxFlex fxLayout="column" fxLayoutWrap fxLayoutAlign="start center" class="inner-content">
                    <div style="position: relative; top: {{board_width / 3}}px; width: {{board_width / 2}}px; height: {{board_width / 3}}px">

                    </div>
                    <div style="position: absolute;
                    bottom: 150px;
                    height: 50px;">
                    </div>
                    <div style="position: absolute;
                    bottom: 100px;
                    height: 100px;">
                    </div>
                </div> -->
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>